
.page-side h1, 
.page-side h2, 
.page-side h3, 
.page-side h4, 
.page-side h5, 
.page-side h6, 
.page-side .h1, 
.page-side .h2, 
.page-side .h3, 
.page-side .h4, 
.page-side .h5, 
.page-side .h6 {
	color: #363636;
}
.page-side{
	color:#363636;
}

.ps-container .ps-scrollbar-y{
	background-color: #dc971f;
}
#taskbar{
	background-color: #1e1f1a;
}
#menu-trigger{
	background: url('menu-trigger.png');
}
ul#socialicons li a, ul.socialicons li a, #audioplayback a{
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQogPGc+DQogIDx0aXRsZT5MYXllciAxPC90aXRsZT4NCiAgPHBhdGggc3Ryb2tlPSIjZGM5NzFmIiB0cmFuc2Zvcm09InJvdGF0ZSg5MCAxMi4zNzQ5IDEzLjYyNSkiIGlkPSJzdmdfMyIgZD0ibS0xLjAwMDAwNSwxMy42MjUwMTNsNS43MzIyODcsLTExLjg3NTAxNmwxNS4yODU1MzcsMGw1LjczMTkxMywxMS44NzUwMTZsLTUuNzMxOTEzLDExLjg3NTAxN2wtMTUuMjg1NTM3LDBsLTUuNzMyMjg3LC0xMS44NzUwMTd6IiBzdHJva2Utd2lkdGg9IjAiIGZpbGw9IiNkYzk3MWYiLz4NCiA8L2c+DQo8L3N2Zz4=) no-repeat;
}
#audioplayback:hover, #audioplayback:focus, #audioplayback.onside {
	background-color: #d5701b;
}



#menu-pannel{
	background-color: #12120F;
}
#menu-pannel-navigation .item{
	background: #12120F;
}
#menu-pannel-navigation .item:hover, #menu-pannel-navigation .active {
	background: #dc971f;
}

#upstream {
	background-color: #272822;
}



.portfolio-side {
	background-color: #dc971f;
}
.portfolio-side:before{
	border-right-color: #dc971f;
}


div.jp-audio {
	background: #d5701b;
}

.swiper-nav-thumbs > div{
	background-color: #20211D;
}
.swiper-nav-thumbs > div.active-nav{
	background: #dc971f;
}
.page-side, .sub-page-title {
	background-color: #e6e6e6;
}
.btn-theme,
.btn-lg.btn-theme{
	border-bottom-color: #8B5F14;
	background: #dc971f;
}
.btn-theme:hover{
	background-color: #F4A927;
}
.page-container{
	background-color: #272822;
}

.vertical-portfolio .item-info .item-description,
.vertical-portfolio .item-info .list-items .list-des {
	color: #A9A9A9;
}
.vertical-portfolio .item-info .title,
.vertical-portfolio .item-info .list-items{
	border-bottom-color: #2B3629;
	box-shadow: 0px 1px 0 0 #151712;
}

ul.list-items .list-label {
	color: #fff;
}
.gal2-thumb-container{
	background: #22231e;
}
.gal2-images{
	box-shadow: -4px 0px 5px -4px #000;
}
.shadow-right{
	box-shadow: 4px 0 5px -4px #000;
}
.blog-item .inside,
.post-more a{
	background-color: #1e1f1a;
}
.blog-item .inside{
	box-shadow: 0 0 4px -1px #000;
}
.post-intro{
	border-bottom: 1px solid #34362D;
}
.post-more a{
	color:#fff;
}
#blog-more{
	background-color: #1e1f1a;;
	margin-bottom: 0;
}
ul#blog-filters li a {
	background-color: #dc971f;
}
ul#blog-filters li.active-cat a{
	background-color: #2e2626;
}
.single-post{
	background-color: #1e1f1a;
	box-shadow: 0 0 3px -1px #000;
}



.about-side, .about-contents{
	background: #272822;
}
#about-slides .slidesjs-previous{
	color:#fff;
	background-color: #dc971f;
}
#about-slides .slidesjs-next{
	color:#fff;
	background-color: #272822;
}
.sub-page-title h2{
	color: #363636;
}

#contact-left{
	background-color: #272822;
}
.contact-details,
#contact-form .form-control{
	color:#f1f1f1;
}

#contact-form::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
#contact-form:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
#contact-form::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}
#contact-form:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}

.team-container .title {
background: #e6e6e6;
}
.team-container .team-carousel-wrapper,
.team-container .team-carousel .item{
	background: #272822;
}
.team-container .title h2,
.team-container .title span {
	color:#363636;
}
#map-marker i{
	color: #dc971f;
}




/*Gallery*/
.col-5 .gal1-item{
	width: 20%;
}
.gal1-item{
	padding: 0px !important;
	margin: 0px !important;
	overflow: hidden;

	-webkit-perspective: 500px;
  	   -moz-perspective: 500px;
  	    -ms-perspective: 500px;
  	     -o-perspective: 500px;
  	        perspective: 500px;

}
.gal1-item a{
	-webkit-perspective: 500px;
  	   -moz-perspective: 500px;
  	    -ms-perspective: 500px;
  	     -o-perspective: 500px;
  	        perspective: 500px;
}
.gal1-item .da-overlay{
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 5;

	-webkit-perspective: 500px;
  	   -moz-perspective: 500px;
  	    -ms-perspective: 500px;
  	     -o-perspective: 500px;
  	        perspective: 500px;
}
.gal1-view {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	top:50%;
	margin-top:-15px;
	left:50%;
	margin-left:-15px;
	background: url('../img/plus.png') no-repeat;
}

/* Gallery #2 ~ Macro 
**************************************************/
.gal2-thumb-container{
	height: 100%;
	width:130px;
	background: #1c1d22 url('../img/gal2-thumb-bg.png') repeat;
	float: left;
	padding: 20px 0;
	position: relative;
}
.gal2-images{
	margin-left:130px;
	height: 100%;
	box-shadow: -4px 0px 15px -4px #000;
	z-index: 2;
	position: relative;
	overflow: hidden;
}
.gal2-images-wrapper{
	height: 100%;
	overflow-y:scroll;
	padding:0 8%;
}
.gal2-images a{
	display: block;
	margin: 70px 0;
	text-align: center;
	position: relative;
}
.gal2-images a:hover .gal2-view,
.gal2-images a:focus .gal2-view {
	color:#fff;
}
.gal2-images img{
	max-width: 100%;
	max-height: 80%; 
	-webkit-box-shadow: 0 0 8px -1px #000;
	box-shadow: 0 0 8px -1px #000;
	margin: 0px auto;
}

.gal2-des{
	text-align: center;
	color:#5e5e5e;
}
.gal2-des .gal2-title{
	font-size: 24px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px #000;
}
.gal2-des .gal2-view{
	float:none;
	padding: 0 10px;
	font-size: 18px;
}

.gal2_caroufredsel_wrapper {
	margin: auto !important;
	height: 100% !important;
}
.gal2-thumb-carousel {
	height: 100%;
}
.gal2-thumb-carousel img {
	display: block;
	float: left;
	padding: 5px 0;
	width:90px;
	opacity:0.5;
	cursor: pointer;
}
.gal2-thumb-carousel img:hover,
.gal2-thumb-carousel img:focus,
.gal2-thumb-carousel img.active-thumb{
	opacity:1;
}
.gal2-prev,
.gal2-next{
	display: block;
	position: absolute;
	width:130px;
	height: 70px;
	line-height: 70px;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	font-size: 40px;
	color:#fff;
	left:0;
}

.gal2-next:hover,
.gal2-next:focus, 
.gal2-prev:hover,
.gal2-prev:focus{
	background-color: rgba(255,255,255,0.3);
}
.gal2-next {
	bottom:0;
}
.gal2-prev{
	top:0;
}


/* gallery #3 ~ london 2012 
**************************************************/
.gal3-thumb-container{
	height: 100px;
	background-color: rgba(19, 19, 22, 0.3);
	/*background: #1c1d22 url('../img/gal2-thumb-bg.png') repeat;*/
	/*padding: 20px 0;*/
	overflow: hidden;
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	z-index: 2;
}
.gal3_caroufredsel_wrapper{
	width:100% !important;
}
.gal3-thumb-container:hover img,
.gal3-thumb-container:focus img {
	opacity:0.8;	
}
.gal3-thumb-carousel img {
	display: block;
	float: left;
	/*margin: 0 5px;*/
	/*width:100px;*/
	height: 100px;
	opacity:0.2;
	cursor: pointer;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
.gal3-thumb-carousel img:hover,
.gal3-thumb-carousel img:focus,
.gal3-thumb-carousel img.active-thumb{
	opacity:1;
}
#gal3-prev,
#gal3-next{
	display: block;
	position: absolute;
	width:85px;
	height: 100px;
	line-height: 100px;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	font-size: 40px;
	color:#fff;
	top:0;
}
#gal3-next:hover,
#gal3-next:focus, 
#gal3-prev:hover,
#gal3-prev:focus{
	background-color: rgba(255,255,255,0.3);
}
#gal3-next {
	right:0;
}
#gal3-prev{
	left:0;
}

.gal3-images{
	width: 100%;
	height: 100%;
	overflow: hidden;
	/*padding: 120px 0 0 0;*/
}
.gal3-images .overflow-wrapper{
	overflow: hidden;
	height: 100%; 
}
.gal3-images-wrapper{
	height: 100%;
	padding-bottom: 100px;
}
.gal3-images-wrapper .gal3-item {
	float:left;
	height: 100% !important;
	position: relative;
}
.gal3-images-wrapper .item-wrapper{
	padding: 3%;
	text-align: center;
	height: 100%;
}
.gal3-images-wrapper a{
	display: inline-block;
	height: 100%;
}
.gal3-images-wrapper img{

	height: 100%;
	-webkit-box-shadow: 0 0 8px -1px #000;
	box-shadow: 0 0 8px -1px #000;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.gal3-view{
	opacity: 0.1;
	padding:0 10px;
}
.gal3-images-wrapper a:hover .gal3-view,
.gal3-images-wrapper a:focus .gal3-view{
	opacity: 1;
}
.gal3-des{
	text-align: center;
	color: #5e5e5e;
	position: absolute;
	width: 100%;
	top:10px;
	left:0;
	z-index: 5;
	/*background-color: rgba(0, 0, 0, 0.2);*/
	padding: 15px;
	font-size: 24px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-weight: 400;
	text-shadow: 1px 1px #000;
	-webkit-transition: all .5s ease-out;
	   -moz-transition: all .5s ease-out;
	    -ms-transition: all .5s ease-out;
	     -o-transition: all .5s ease-out;
	        transition: all .5s ease-out;
}
.gal3-images-wrapper a:hover .gal3-des,
.gal3-images-wrapper a:focus .gal3-des{
	/*background-color: rgba(255, 255, 255, 0.1);*/
	color:#eee;
}



